/* put your css code here */
* {
    color: ghostwhite;
}

.jumbotron {
    background-color: crimson;
    color: chartreuse;
    padding-left: 5%;
    text-align: center;
    max-height: 200px;
}

.nav {
    padding-left: 5%;
}

.nav ul li {
    color: aliceblue;
}

.pics {
    margin: 2%;
}
.category-class {
    border: 1px solid gray;
    margin: 2%;
}
.category-class  h3 {
    text-align: center;
    font-family: ariel sans-serif;
}

.category-class:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.my-category:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.pics-row {
    margin-bottom: 5%;
}

body {
    background: url('img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}