<!-- This is a first example of using a template -->

<head>

<!-- include our libraries and css files -->

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/handlebars-v3.0.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="assignment.css" rel="stylesheet">

</head>

<body>
    <header class="jumbotron">
        <div class="row clearfix">
            <div class="col-sm-7">
                <h1>Animal's World</h1>
                <p>
                    Explore a lot of information regarding animals from our site
                </p>
            </div>
            <div class="col-sm-4">
                <center>
                <img src="img/logo.png" class="img-responsive">
                </center>
            </div>
        </div>
    </header>
    <br>
    <hr>
    <nav>
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Animals</a></li>
            <li><a href="#">Pictures</a></li>
        </ul>
    </nav>
    <hr>
    <div class="container">
    
    </div>
    
    <script id="animal-details" type="text/x-handlebars-template">
        <div class="row">
            <h2>{{name}}</h2>
        </div>
        <hr>
        <div class="row">
            <p>{{description}}</p>
        </div>
        <hr>
        <div class="row">
            <img src="{{image1}}">
            <img src="{{image2}}">
        </div>
    </script>
    
    <script id="animal-categories" type="text/x-handlebars-template">
        <h3>Select Animal Category</h3>
        <div class="row">
            {{#each category}}
                <div class="col-sm-12 col-md-4 col-lg-4 category-class" data-id="{{@index}}">
                    <img src="img/{{name}}.jpg" alt="{{name}}" class="img-responsive">
                    <h3>{{name}}</h3>
                </div>
            {{/each}}
        </div>
    </script>
    
    <script id="single-animal-category" type="text/x-handlebars-template">
        <h3>Select Animal Category</h3>
        <div class="row">
            <h1>{{name}}</h1>
            {{#each animals}}
                <div class="col-sm-12 col-md-4 col-lg-4 my-category" data-id="{{@index}}">
                    <img src="{{image1}}" alt="{{name}}" class="img-responsive">
                    <h3>{{name}}s</h3>
                </div>
            {{/each}}
        </div>
    </script>
    
    <script id="animal-pictures" type="text/x-handlebars-template">    
            {{#each category}}           
                    {{#each animals}}
                        <div class="row">
                            <h2>{{name}}s</h2>
                        </div>
                        <div class="row pics-row">
                            <div class="col-sm-12 col-md-5 pics">
                                <img src="{{image1}}" class="img-responsive">
                            </div>  
                            <div class="col-sm-12 col-md-5 pics">
                                <img src="{{image2}}" class="img-responsive">
                            </div>
                        </div>
                    {{/each}}
            {{/each}}   
    </script>

    <script src="AnimalsData.js"></script>
    <script src="assignment.js"></script>
</body>
